@model IList<_19DTHA_A_DO_AN.Models.GroceryModel.Product>

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>
@foreach (var item in Model)
{
    <div>
        <h4>Product</h4>
        <hr />

        <dl class="dl-horizontal">
            <dt>
                Nhà sản xuất
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Manufacturer.Name)
            </dd>

            <dt>
                Loại sản phẩm
            </dt>

            <dd>
                @Html.DisplayFor(model => item.ProductType.Name)
            </dd>

            <dt>
                Tên sản phẩm
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Name)
            </dd>

            <dt>
                Giá sản phẩm
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Price)
            </dd>

            <dt>
                Chi tiết
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Description)
            </dd>

            <dt>
                Ảnh
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Image)
            </dd>

        </dl>
       
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}