@model IPagedList<_19DTHA_A_DO_AN.Models.GroceryModel.Product>
@using PagedList;
@using PagedList.Mvc;
@foreach (var item in Model)
{
    ViewBag.Title = item.ProductType.Name;
    break;
}
@{
    Layout = "~/Views/Shared/_LayoutGrocery.cshtml";
}
<div class="w3l_banner_nav_right">
    <div class="w3ls_w3l_banner_nav_right_grid">
        <h3 class="margin-top">
            @ViewBag.Title
        </h3>
        <div class="w3ls_w3l_banner_nav_right_grid1">
            @foreach (var product in Model)
            {
                <div class="col-md-3 w3ls_w3l_banner_left margin-top">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid_pos">
                                <img src="~/Asset/images/offer.png" alt=" " class="img-responsive" />
                            </div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb text-center">

                                            <a href="@Url.Action("Single", "Grocery", new { id = product.Id})"><img src="~/Asset/images/@product.Image" alt=" " class="img-responsive" /></a>
                                            <p>@Html.DisplayFor(m => product.Name)</p>
                                            <h4>@Html.DisplayFor(m => product.Price) <span>$5.00</span></h4>

                                        </div>
                                        <div class="snipcart-details">
                                            <form action="#" method="post">
                                                <fieldset>
                                                    <input type="hidden" name="cmd" value="_cart" />
                                                    <input type="hidden" name="add" value="1" />
                                                    <input type="hidden" name="business" value=" " />
                                                    <input type="hidden" name="item_name" value="knorr instant soup" />
                                                    <input type="hidden" name="amount" value="3.00" />
                                                    <input type="hidden" name="discount_amount" value="1.00" />
                                                    <input type="hidden" name="currency_code" value="USD" />
                                                    <input type="hidden" name="return" value=" " />
                                                    <input type="hidden" name="cancel_return" value=" " />
                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-12 text-center clearfix">
        @Html.PagedListPager(Model, sotrang => Url.Action("Products", new { page = sotrang }))
    </div>
</div>
<div class="clearfix"></div>
    </div>
<!-- //banner -->
