@model IPagedList<_19DTHA_A_DO_AN.Models.GroceryModel.Product>
@using PagedList;
@using PagedList.Mvc;
@foreach (var item in Model)
{
    ViewBag.Title = item.ProductType.Name;
    break;
}
@{
    Layout = "~/Views/Shared/_LayoutGrocery.cshtml";
}
<div class="w3l_banner_nav_right">
    <div class="w3ls_w3l_banner_nav_right_grid">
        <h3 class="margin-top">
            @ViewBag.Title
        </h3>
        <div class="w3ls_w3l_banner_nav_right_grid1  text-center">
            @foreach (var product in Model)
            {
                <div class="col-md-3 w3ls_w3l_banner_left margin-top">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid_pos">
                                <img src="~/Asset/images/offer.png" alt=" " class="img-responsive" />
                            </div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                                <a href="@Url.Action("Single", "Grocery", new { id = product.Id})"><img src="~/Asset/images/@product.Image" alt="@product.Image" class="img-responsive" /></a>
                                                <p>@product.Name</p>
                                                @{ var money = product.Price - product.DiscountAmount;}

                                                <h4>
                                                    @money @if (money < product.Price)
                                                {<span>@product.Price</span>}
                                                </h4>
                                        </div>
                                            <div class="snipcart-details">
                                                <form action="@Url.Action("Single", "Grocery", new { id = product.Id})">
                                                    <fieldset>
                                                        <input type="submit" name="submit" value="chi tiết sản phẩm" class="button runCart" data-request-url="@Url.Action("ShopCart", "Grocery")" />
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-12 text-center clearfix">
        @Html.PagedListPager(Model, sotrang => Url.Action("Product", new { page = sotrang }))
    </div>
</div>
<div class="clearfix"></div>
    </div>
<!-- //banner -->
