@model _19DTHA_A_DO_AN.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutGrocery.cshtml";
}


<div class="banner">
    <div class="w3l_banner_nav_right">
        <!-- login -->
        <div class="w3_login">
            <h3>Register</h3>
            <div class="w3_login_module">
                <div class="module form-module">
                    <div class="toggle">
                        <i class="fa fa-times fa-pencil"></i>
                    </div>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form">
                            <h2>Create an account</h2>
                            <form>
                                @Html.TextBoxFor(m => m.Email, new { type = "text", name = "Email", placeholder = "Email", required = " " })
                                @Html.TextBoxFor(m => m.Password, new { type = "password", name = "Password", placeholder = "Password", required = " " })
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { type = "password", name = "ConfirmPassword", placeholder = "ConfirmPassword", required = " " })
                              
                                <input type="submit" value="Register">
                            </form>
                        </div>
                        <div class="cta"><a href="#">Forgot your password?</a></div>
                    }
                    </div>
            </div>
        </div>
        <!-- //login -->
    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
